html
{
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
    /* display: -ms-flexbox; */
    /* display: flex; */
    /* -ms-flex-align: center;
    align-items: center; */
    padding-top: 81px;
    /* padding-bottom: 58.67px; */
    font-family: 'Microsoft JhengHei', Arial, Helvetica, sans-serif;
    background-color: #d6d6c2;
    position: relative;
    margin: 0;
    padding-bottom: 3rem;
    min-height: 100%;
    float: left;
    background: url(../../img/slot/bg.jpg);
    /* font-family: "Helvetica Neue", Arial, sans-serif; */
}

/* footer */
.py-1 {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #f2f2f2;
    text-align: center;
  }



/* .container-fluid {
    height: 100%;
} */

#toast-container {
    margin-bottom: 2.55%;
    /* width: 500px; */
}

.row {
    align-items: center;
    justify-content: space-around;
    /* height: 100%; */
}

.money img {
    position: relative;
    width: 40%;
    display: inline-flex;
    justify-content: center;
    align-self: center;
    left: 5%;
}

.machine img {
    position: relative;
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-self: center;
}

.col-12 {
    height: 0px;
    margin-bottom: 67%;
}

.result img {
    width: 100%;
    height: auto;
    /* margin: 10px; */
    display: flex;
    position: relative;
    /* right: 20%; */
    margin-bottom: 40%;
}

/* Shuffle&Stop Btn*/
.btn-group {
    display: flex;
    justify-content: center;
    right: 5%;
}


.btn-group .button {
    border: .3vw solid #000000;
    background-color: #33bbff;
    opacity: 0.8;
    color: #000000;
    padding: 1vw 2vw;
    width: 15vw;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;

}

h3 {
    font-size: 2.5vw;
}

.btn-group .button:hover {
    background-color: #ff471a;
    opacity: 0.8;
    color: #000000;
}

/* fruit Btn */
.casino {
    position: relative;
    flex-wrap: nowrap;
    left: 43.5%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -250%);
    width: 60%;
}

.slot1 {
    border: .5vw solid #CF5178;
    padding: 50%;
    background: url(../../img/slot/slot1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.slot2 {
    border: .5vw solid #CF5178;
    padding: 50%;
    background: url(../../img/slot/slot2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.slot3 {
    border: .5vw solid #CF5178;
    padding: 50%;
    background: url(../../img/slot/slot3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.slot4 {
    border: .5vw solid #CF5178;
    padding: 50%;
    background: url(../../img/slot/slot4.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.slot5 {
    border: .5vw solid #CF5178;
    padding: 50%;
    background: url(../../img/slot/slot5.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.slot6 {
    border: .5vw solid #CF5178;
    padding: 50%;
    background: url(../../img/slot/slot6.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}