/* #myBtn {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #555555;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;;
  }
  
  #myBtn:hover {
    background-color: #555;
  } */